html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 280px;
  margin: 0 auto;
}

.btn {
  background-color: #fdf000;
  padding: 1rem 1.5rem;
}

.site-header {
  min-height: 12vh;
  display: flex;
  align-items: center;
}

.site-header .contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header .contenedor .score {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-header .contenedor .score h2 {
  font-size: 2rem;
}

.site-header .contenedor .score h2 span {
  color: #ff8000;
}

main {
  min-height: 68vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .contenedor {
  width: 100%;
  min-height: 68vh;
  position: relative;
  overflow-x: hidden;
}

main .contenedor div {
  display: inline-block;
  padding: 1rem;
  transition: left 1s linear, top 1s linear, opacity 1s linear, right 1s linear;
  opacity: 1;
}

main .contenedor div i {
  font-size: 10rem;
}

main .contenedor .piedra {
  background-color: red;
}

main .contenedor .piedra.principal {
  position: absolute;
  left: 0;
  top: calc(50% - 12rem);
}

main .contenedor .piedra.eleccion {
  left: 0 !important;
  top: calc(50% - (12rem/2));
}

main .contenedor .piedra.hide {
  opacity: 0;
  transition: opacity 1s linear;
}

main .contenedor .piedra.offscreen {
  transform: translateX(500%);
}

main .contenedor .papel {
  background-color: blue;
}

main .contenedor .papel.principal {
  position: absolute;
  top: calc(50% - 12rem);
}

main .contenedor .papel.eleccion {
  left: 0 !important;
  top: calc(50% - (12rem/2));
}

main .contenedor .papel.hide {
  opacity: 0;
  transition: opacity 1s linear;
}

main .contenedor .papel.offscreen {
  transform: translateX(500%);
}

main .contenedor .tijera {
  background-color: green;
}

main .contenedor .tijera.principal {
  position: absolute;
  top: 55%;
}

main .contenedor .tijera.eleccion {
  left: 0 !important;
  top: calc(50% - (12rem/2));
}

main .contenedor .tijera.hide {
  opacity: 0;
  transition: opacity 1s linear;
}

main .contenedor .tijera.offscreen {
  transform: translateX(500%);
}

main .contenedor .eleccion-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: calc( 50% - (12rem/2));
  opacity: 0;
  transition: opacity 1s linear;
  background-color: #9c9c9c;
  width: 12rem;
  height: 12rem;
  z-index: -2000;
}

main .contenedor .eleccion-pc.espera {
  opacity: 1;
}

main .contenedor .eleccion-pc div {
  opacity: 0;
  transition: opacity 1s linear;
}

main .contenedor .eleccion-pc div.mostrar {
  opacity: 1;
}

footer {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .contenedor {
  height: 100%;
  width: 100%;
}

footer .contenedor .resultado {
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  transition: opacity 1s linear;
}

footer .contenedor .resultado.revelar {
  opacity: 1;
}

footer .contenedor .resultado h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=styles.css.map */